<div class="columns has-text-centered">
  <div class="column">
    <h1 class="title is-1">Welcome to the Sample App</h1>
    <%= link_to "Sign up now", signup_path, class: "button is-white is-large is-rounded" %>
  </div>
</div>
