<% provide(:title, 'Sign up') %>
<div class="columns has-text-centered">
  <div class="column">
    <h1 class="title is-1">Sign up</h1>
    <p>This will be a signup page for new users.</p>
  </div>
</div>
