/* ----- Animation ----- */
a {
  -webkit-transition: all .2s;
  transition: all .2s;
}
body {
  background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
  // background-image: linear-gradient(to right top, #F53731, #FFC35D);
}
.navbar {
  background-color: inherit;
}
.navbar #logo {
  // color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

/* ----- Debug ----- */
.debug_dump {
  background-color: #000;
  color: #d8d8d8;
}

/* ----- Animation ----- */
@mixin css-animation {
  transition: all .3s;
}

/* ----- Profile box ----- */
.profile-box {
  height: 80vh;
  border-radius: 4px;
  background-color: #fff;
  .columns {
    height: 100%;
    .column {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .box-user-image {
        img {
          border-radius: 50%;
        }
      }
      .box-user-info {
        text-align: center;
      }
    }
  }
}

/* ----- Notification ----- */
.notification-tooltip {
  position: fixed;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  opacity: 0;
  right: -3rem;
  top: 100px;
  @media screen and (max-width: 767px) {
    position: relative;
    right: inherit;
    opacity: inherit;
  }
}

.button.width-100 {
  width: 100%;
  margin: 1.5rem 0;
}

/* ----- Pagination ----- */
.pagination-wrapper {
  padding: 1.5rem 0;
  .pagination {
    justify-content: flex-start;
    a, .previous_page, .next_page, .current {
      -moz-appearance: none;
      -webkit-appearance: none;
      border: 1px solid transparent;
      border-radius: 4px;
      font-size: 1rem;
      height: 2.25em;
      line-height: 1.5;
      padding-bottom: calc(.375em - 1px);
      padding-left: calc(.625em - 1px);
      padding-right: calc(.625em - 1px);
      padding-top: calc(.375em - 1px);
      border-color: #dbdbdb;
      color: #363636;
      background-color: #fff;
      min-width: 2.25em;
      text-align: center;
      margin: .25rem;
    }
    .current, .disabled {
      background-color: #dbdbdb;
      font-style: normal;
    }
    @media screen and (min-width: 769px) {
      .previous_page {
        order: 2;
      }
      .next_page {
        order: 3;
      }
    }
  }
}
