/* -----Animation----- */
a {
  -webkit-transition: all .2s;
  transition: all .2s;
}
body {
  background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
.navbar {
  background-color: inherit;
}
.navbar #logo {
  // color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

/* -----Debug----- */
.debug_dump {
  background-color: #000;
  color: #d8d8d8;
}

/* -----Card----- */
.profile-box {
  height: 80vh;
  .columns {
    height: 100%;
    .column {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .box-user-image {
        img {
          border-radius: 50%;
        }
      }
      .box-user-info {
        text-align: center;
      }
    }
  }
}
